<!-- views/partials/header.ejs -->
<header id="top-head" class="clearfix">
  <section class="heading-group-h1">
    <div id=logo>
      walkhome
  </div>
  </section>
  <nav>
      <!-- Hamburger menu icon which shows/hides depending on screen width (desktop vs. mobile). -->
      <!-- CSS only for nav show/hide depending on hover -->
      <div id="ham-menu" class="icon-menu hamburger"></div>
      <ul class="nav-list">
        <li class="tab" data-content="addresses"><a href="#" class="icon-home"> Home</a></li>
        <li class="tab" data-content="about"><a href="#" class="icon-address-book"> About</a></li>
        <li><a href="http://twitter.com/brookr" target="_blank" class="icon-twitter3"> Twitter</a></li>
        <li><a href="http://github.com/brookr" target="_blank" class="icon-github"> GitHub</a></li>
      </ul>
    </nav>
</header>