<!-- views/partials/head.ejs -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Walkhome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  type="text/css" href="../styles/normalize.css">
  <link rel="stylesheet"  type="text/css" href="../styles/base.css">
  <link rel="stylesheet"  type="text/css" href="../styles/icons.css">
  <link rel="stylesheet"  type="text/css" href="../styles/layout.css">
  <link rel="stylesheet"  type="text/css" href="../styles/modules.css">
  <link rel="stylesheet"  type="text/css" href="../styles/state.css">
  <link rel="icon" type="image/x-icon" href="https://avatars2.githubusercontent.com/u/18607604?v=3&s=200">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet"> 
</head>