<!DOCTYPE html>
<html>
<head><link rel="stylesheet"  type="text/css" href="../styles/layout.css"></head>  
</div>
  </section>
  <div id="leftSidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/login">LOGIN</a>
    <a href="/address">SEARCH</a>
    <a href="#">SAVED SEARCHES</a>
  </div>
  </header>
    <script>
        function openNav() {
            document.getElementById("leftSidenav").style.width = "250px";
        }
       
        function closeNav() {
            document.getElementById("leftSidenav").style.width = "0";
        }
        </script>
<footer>
    <script>
    src="https://code.jquery.com/jquery-3.3.1.min.js"</script>
</footer>
</html>