<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div id="page-header">
      <h2>Walkhome</h2>
    </div>
    <div id="page">

    </div>
    <%- include('partials/footer') %>
  </body>
</html>