<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%- include('partials/header') %>
<<<<<<< HEAD
    <div id="page-header">
      <h2>walkhome</h2>
=======
    <!-- <div id="page-header">
      <h2>Walkhome</h2>
>>>>>>> 5864c8026f3ed1269f7f3b03dd287f728815b038
    </div>
    <div id="page"> -->

    </div>
  </body>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</html>