<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <%-include('partials/hero') %>
  <body>      
    <div class="parallax">
    <div class="overlay-box">
    <div class="content-layer">
          <h2>Header for first section</h2>
          LETS ADD SOME TEXT IN HERE.... BACON IPSUM

          a few words about what problem our app is addressing.
          and a few more to see how line breaks are held within the divs and trail off even though i have word wrap on in vs code.. blah blah


          <h2>the longer this section is the more of the picture in the background we will see for this overlay box / content area</h2>


          The better world it creates.....
          <h3>and then we start a parallax div.</h3>
          <h4>the parallax div should appear over the overlay box (but technicall is insde it</h4>
          <br>.
      .<br>.
      .<br>.
      ><br>.
      .<br>.
      .<br>.
      .<br>.
      .<br>.
      .<br>.
      .<br>.
    </div>
    </div>
    <div class="small-parallax"><h1>Why wait in traffic when you can live with everything comfortably nearby....</h1></div>
    <div class="overlay-box">
    <div class="content-layer">
    <h2>... and in this section here we can do a walkthrough / explanation on how to use our app</h2>
      because after this explanation there should be a section / link bringing the user to a search
      <br>.
      .<br>.
      .<br>.
      ><br>.
      .<br>.
      .<br>.
      .<br>.
      .<br>.
      .<br>.
      .<br>.
    </div>
    </div>
    </div>







  
  </body>












  <footer>
    <%- include('partials/footer') %>
  </footer>
  <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
 <script>var heroShinker = function() {
     var hero = $('.hero-nav'),
         heroHeight = $('.hero-nav').outerHeight(true);
         $(hero).parent().css('padding-top', heroHeight);
     $(window).scroll(function() {
         var scrollOffset = $(window).scrollTop();
         if (scrollOffset < heroHeight) {
             $(hero).css('height', (heroHeight - scrollOffset));
         }
         if (scrollOffset > (heroHeight - 215)) {
             hero.addClass('fixme');
         } else {
             hero.removeClass('fixme');
         };
     });
 }
 heroShinker();</script>
</html>