<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <%-include('partials/hero') %>
  <body>      
    <div class="parallax">
    <div class="overlay-box">
    <div class="content-layer">
          <h2>Comfortable living without a </h2>
          <h3>vehicle starts here at walkhome.</h3>
          <p>Our tools allow you to find a location with walkability in mind. 
           <br>..
           <br>No more commuting.
           <br>.. 
           <br>No more traffic. 
           <br>..
           <br>Live where the excitement happens.
           <br>..
    </div>
    </div>
    <div class="small-parallax"><h1>Spend less time in traffic, and more time doing what you love with</h1>
        <h1><em>walkhome</em></h1></div>
    <div class="overlay-box">
    <div class="content-layer">
    <h3>Through a few simple steps</h3>
      <p>you can begin your search to walkhome. 
          <br>...
        <br>Search any address in the area
        <br>.
        <br>and find out how car dependant
        <br>.
        <br>living at your new home is... or isn't.
        <br>...<br>
        <a class="ghost-button" href="#">Get Started</a>
    </div>
    </div>
    </div>







  
  </body>












  <footer>
    <%- include('partials/footer') %>
  </footer>
  <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
 <script>var heroShinker = function() {
     var hero = $('.hero-nav'),
         heroHeight = $('.hero-nav').outerHeight(true);
         $(hero).parent().css('padding-top', heroHeight);
     $(window).scroll(function() {
         var scrollOffset = $(window).scrollTop();
         if (scrollOffset < heroHeight) {
             $(hero).css('height', (heroHeight - scrollOffset));
         }
         if (scrollOffset > (heroHeight - 215)) {
             hero.addClass('fixme');
         } else {
             hero.removeClass('fixme');
         };
     });
 }
 heroShinker();</script>
</html>