<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <!-- <div id="page-header">
      <h2>Walkhome</h2>
    </div>
    <div id="page"> -->

    </div>
  </body>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</html>