<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div id="walk-info">
      

    <%- include('../partials/footer') %>
  </body>
</html>