<!DOCTYPE html>
<html>
 <%-include('../partials/head') %>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <body>
   <%- include('../partials/header') %>
   <%- include('../partials/navbar') %>
   <main>

     <section>
         <!-- <img id="profile" img src="img/sgtbelly_resized.jpg"> -->
         <div>
             <h2>James Denton</h2>
             <p>I grew up in Rocky Mount NC. After Highschool, I spent a year in college, decided it wasn't for me and joined the Army. While in the Army I went to many nice and interesting places Fort Polk, LA; Iraq; South Korea; Fort Lewis, WA; Afghanistan; Fort Leonard Wood, MO. After I got out of the Army I went to Lincoln, NE for a year until I found my current job. I am married with one daughter; I met my wife while stationed in Korea; I always joke that I loved the culture so much that I had to bring a piece back with me. Although it has been hard for us sometimes; she has stuck by my side through multiple deployments to Afghanistan and is always our family’s rock, and for that I will always love her.</p>
          </div>
     </section>
     <section>
         <!-- <img id="profile" img src="img/Mike.jpg"> -->
         <div>
             <h2>Michael Kermes</h2>
             <p>Mike was born and raised in Alaska, growing up with a passion for technology and gaming. After 5 years as a mechanic in the Navy, Mike shifted his focus back to tech. Since then he has picked up a background in I.T. and coding, developing the skills necessary for a future to work with emerging technologies and game development.
             </p>
         </div>
     </section>
     <section>
         <!-- <img id="profile" img src="img/the.jamilah.png"> -->
         <div>
             <h2>Jamilah McWilliams aka the.jamilah</h2>
             <p>Jamilah pronounced (Jah-mee-lah) aka the.jamilah is a native Seattleite and has had a career in hotels, restaurants and night life. During her tenure in the industry she has worked with companies such as the Four Seasons, Fairmont Hotels and Hilton hotels to name a few.  Jamilah also has a degree in Culinary Arts and Hospitality Management. Her recent projects include project management, sales, marketing and technology for up and coming chef owner/operators. She has always had a passion for technology and is currently a student at Code Fellows in pursuit of the next chapter in her career as a software developer. </p>
         </div>
     </section>
     <section>
         <!-- <img id="profile" img src="img/Harry_resize.jpg"> -->
         <div>
             <h2>Harry Hayden</h2>
             <p>HH enjoys working with people in the community and technology.  He hopes to take all of the skills acquired as a student at Code Fellows to better serve his community and grow within the tech industry.
                 </p>
         </div>
     </section>
     <section>
         <!-- <img id="profile" img src="img/kevin.jpg"> -->
         <div>
             <h2>Kevin O'Halloran</h2>
     <p>
     A native Washingtonian, Kevin was born and raised in Spokane. He is married with three children. A big dog, two tabby cats, seven chickens and two fish round out the household. With a background in relational databases and content management systems, Kevin is thrilled to be studying JavaScript and Node.js at Code Fellows
     </p>
         </div>
     </section>

     </main>

   <%- include('../partials/footer') %>
 </body>
</html>