<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div id="page-header">
      <h2>Address Search</h2>
    </div>
    <div id="page">
      <p id="localStorageEmail" class="hide-me"></p>
      <form id="find-address-info" action="/address" method="post" novalidate>
        <p>
          <label>Street Address</label><br>
          <input type="text" name="address" >
        </p>
        <p>
          <label>Zip Code</label><br>
          <input type="text" name="zip" required>
        </p>
        <p>
          <label>City</label><br>
          <input type="text" name="city" value="Seattle" required >
        </p>
        <p>
          <label>State</label><br>
          <input type="text" name="state" value="WA" required >
        </p>
        <p>
          <button name="submit_button" type="submit">Submit</button>
        </p>
      </form> 
    </div>
    <%- include('../partials/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(function() {
        const myEmail = localStorage.getItem('user_email');
        $('#localStorageEmail').text(myEmail);
        console.log('myEmail', myEmail);
        console.log($('#localStorageEmail'));
        console.log('localStorageEmail dot text()', $('#localStorageEmail').text());
      });
    </script>
  </body>
</html>