<!DOCTYPE html>
<html>
  <div id="background">
  <%-include('../partials/head') %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <body>
      <%- include('../partials/header') %>
      <%- include('../partials/navbar') %>

      <div id="address-header">
        <h2>Address Search</h2>
      </div>
      <div id="address">
        <form id="find-address-info" action="/address" method="post" novalidate>
          <p>
            <label>street address</label>
            <input id="textbox" type="text" name="address" required>
          </p>
          <p>
            <label>zip</label>
            <input id="textbox" type="text" name="zip" required>
          </p>
          <p>
            <label>city</label>
            <input id="textbox" type="text" name="city" value="Seattle" required >
          </p>
          <p>
            <label>state</label>
            <input id="textbox" type="text" name="state" value="WA" required >
          </p>
          <p></p>
          <p>
            <button id="submit" name="submit_button" type="submit">submit</button>
          </p>
        </form> 
      </div>
      <%- include('../partials/footer') %>
    </body>
  </div>
</html>