<!DOCTYPE html>
<html>
  <div id="background">
  <%- include('../partials/head') %>
  <body>
      <%- include('../partials/header') %>
      <h3 id="error" >Oops! return code 404 ... An Error occurred...</h3>
    </body>
    <%- include('../partials/footer') %>
  </div>
</html>