<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h3 class="search-results" >Oops! return code 404 ... An Error occurred...</h3>
    <%- include('../partials/footer') %>
  </body>
</html>