<!DOCTYPE html>
<html>
  <div id="background">
  <%-include('../partials/head') %>
  <body>

    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
    <div id="page-header">
      <h2>Login</h2>
    </div>
    <div id="page">
      <form id="login" action="/login" method="post" novalidate>
        <h4>If you already have an account, just enter your email to log in:</h4>
        <p>
          <label>email</label>
          <input id="textbox" type="text" name="email" required>
        </p>
        <h4>If you don't yet have an account, please also add user information:</h4>
        <p>
          <label>first</label>
          <input id="textbox" type="text" name="first" >
        </p>
        <p>
          <label>last</label>
          <input id="textbox" type="text" name="last" >
        </p>
        <p>
          <label>phone</label>
          <input id="textbox" type="text" name="phone" >
        </p>
        <br>
        <div>
          <button id="submit" name="submit_button" type="submit">submit</button>
        </div>
      </form> 
    </div>
    <%- include('../partials/footer') %>
  </body>

</html>