<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div id="page-header">
      <h2>Login Status</h2>
    </div>
    <div>
      <p>
        <% if (message) { %>
        <strong><em><%= message %></em></strong>
        <% } %>
      </p>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>