title {
  text-align: center;
}
#top-head {
  background-color: transparent;
  text-align: center;
}
#logo {
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Homemade Apple', cursive; */
/* font-family: 'Comfortaa', cursive; */
font-family: 'Pacifico', cursive;
font-size: 5em;
color: whitesmoke;
}

header section {
  max-width: 80%;
  float: left;
  padding: 0 0 .2em 1em;
  text-align: center
}

select {
  width: 90%;
  margin: .2em 5%;
}

/*this makes the image totally responsive!*/
img {
  max-width: 100%;
}

#filters {
  padding: 0;
  list-style: none;
}

p {
  font-size: 1em;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}