body {
  font-family: 'Sawarabi Mincho', sans-serif;
  line-height: 1.5;
  font-size: 100%;
  color: black;
  background-color: darkblue;
  background-image: url('../img/seattle_skyline_with_mount_rainier_2014_by_larrygorlin-d86vi3u.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#page-header {
  max-width: 940px;
  margin: 10px auto 0px auto;
  padding: 20px;
  background-color: darkgrey;

}

#page {
  max-width: 940px;
  margin: 0px auto 10px auto;
  padding: 20px;
  background-color: grey;
}

nav {
  padding: 0.1em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
}
.fill{
display: inline-flex;
justify-content: center;
align-items: center;
overflow: hidden;
} 

.fill img{
margin: 0%;
flex-shrink: 0;
min-width: 100%;
min-height: 100%;
}

#logo{
height: 25%;

}

.search-results{
  background-color: lightslategray;
  text-align: center;
  
}