.hamburger {
  display: block;
  background-color: transparent;
  color: darkblue;
}

.nav-list {
  display: none;
}

a, a:link, a:active {
  text-decoration: none;
  color: whitesmoke;
}

a:hover, a:focus {
  color: #29506D;
}

/*media query for screen formatting*/
@media only screen and (min-width: 640px) {
  header section {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    display: inline;
  }

  .icon-menu {
    display: none;
  }

  nav {
    padding: .2em .2em .2em 2em;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506D;
  }

  .hamburger {
    display: none;
  }

  .nav-list {
    display: block;
  }
}

/* Settings for hero landing page functionality */
.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1200px;
  min-height: 105px;
  background-image: url(../IMG/hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}

.hero-nav-inner {
  z-index: 2;
}

.hero-nav h1 {
  color: #efefef;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px rgba(151, 149, 149, 0.863);
  font-size: 5em;
}

.hero-nav:before {
  content:"";
  background:rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 400ms;
}

.hero-nav.fixme:before {
  /* color that hero banner will transition into */
  background: rgba(0, 0, 0, 0.493);
}

/* Settings for parallax scrolling elements */
.parallax {
  /*the url is the image for the first parallax w/ overlay box in it*/
  background-image: url(../IMG/pikes.jpg);
  text-align: center;
  min-height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
}

.small-parallax {
  /*this image is for the short parallax for message area */
  background-image: url(../IMG/walkers.jpg);
  color: white;
  min-height: 180px;
  align-self: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
}
